* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img	{
	width: 30%;
	height: 200px;
}

.home-text {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 5em;
	line-height: 2em;
}

.home-text h1 {
	margin-bottom: 2em;
}

.slideshow-box	{
	width: 70%;
	margin: 0 auto;
}