* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	padding-top: 120px;
	font-family: Sans-serif, Verdana;
}


header {
	padding: 1em;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: black;
	opacity: 0.85;
	z-index: 999;

}

nav ul {
	text-align: center;
	margin-top: 1em;
}


nav li {
	list-style: none;
	font-size: 1.25rem;
	margin-bottom: 0.75em;
}

nav a {
	text-decoration: none;
	color: white;
}

label {
	font-size: 1.25rem;
	color: white;
	
}

.bar {
	width: 2.5em;
	height: 5px;
	background-color: white;
	margin: 5px 0;
}

.active {
	text-decoration: underline;
}
.active a {
	color: gray;
}
.navbar {
	display: none;
}
.nav-toggle {
	display: none;
}

.nav-toggle:checked ~ nav {
	display: block;
}

@media only screen and (min-width: 600px ) {
	header {
		position: fixed;
		z-index: 999;
		padding: 0;
		background-color:black;
		opacity: 0.85;
	}

	.nav-toggle-label {
		display: none;
	}
	.navbar {
		display: block;

	}
	nav ul	{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 1em;
	width: 70%;
	margin: 0 auto;

 	}

 	nav li {
 		font-size: 1.5rem;
 	}

 	nav a:hover,
	nav a:focus {
	background: white;
	color: black;
	padding: 0.25em 0.5em;
	}

}





