* {
	margin: 0;
	padding: 0;
}

header {
	padding: 2em;
}

nav ul {
	text-align: center;
	margin-top: 2em;
}


nav li {
	list-style: none;
	font-size: 1.5rem;
	margin-bottom: 0.75em;
}

nav a {
	text-decoration: none;
	color: black;
}

label {
	font-size: 1.25em;
	
}
.bar {
	width: 2.5em;
	height: 5px;
	background-color: gray;
	margin: 5px 0;
}


.active {
	text-decoration: underline;
}
.active a {
	color: gray;
}
.navbar {
	display: none;
}
.nav-toggle {
	display: none;
}

.nav-toggle:checked ~ nav {
	display: block;
}

@media only screen and (min-width: 600px ) {

	.nav-toggle-label {
		display: none;
	}
	.navbar {
		display: block;
	}

	nav ul	{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0;
	width: 70%;
	margin: 0 auto 5em;
 	}

 	nav a:hover,
	nav a:focus {
	background: lightgray;
	padding: 0.25em 0.5em;
	}

}





